@{
    ViewBag.Title = "Druid";
}

<div class="wrapper">
    <br />
    <br />
    <section id="top-b" class="grid-block">
        <div class="grid-box width100 grid-h" style="width: 980px;">
            <div class="module mod-line  deepest" style="min-height: 18px;">
                <h3>Browse our list of scripts for iBot - Druid</h3>
            </div>
        </div>
    </section>
    <div id="main" class="grid-block">
        <div id="maininner" class="grid-box" style="min-height: 2563px;">
            <section id="innertop" class="grid-block">
                <div class="grid-box width100 grid-v">
                    <div class="module mod-line  deepest">
                        <div id="accordion-133-52693fb4c65c9" class="wk-accordion wk-accordion-default-ed clearfix" style="width: 950px;" data-widgetkit="accordion" data-options="{&quot;style&quot;:&quot;default&quot;,&quot;collapseall&quot;:1,&quot;matchheight&quot;:0,&quot;index&quot;:0,&quot;duration&quot;:500,&quot;width&quot;:950,&quot;order&quot;:&quot;default&quot;}">
                            <h3 class="toggler"></h3>
                            <div style="overflow: hidden; display: block; height: 500px;" class="content-wrapper">
                                <div class="content wk-content clearfix">
                                    <p class="box-download">To level 9 or higher:</p>
                                    <ul class="zebra">
                                        <li><a href="#">[iBot][Lvl 80+] Nibelor Ice Cave</a> <strong>1.1.1</strong></li>
                                    </ul>
                                    <p>&nbsp;</p>
                                    <p class="box-download">To level 100 or higher:</p>
                                    <ul class="zebra">
                                        <li><a href="#">[iBot][Lvl 110+] Ice Witch Temple</a><strong>1.1.0</strong></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="content" class="grid-block">
                <div id="system-message-container">
                </div>
                <div class="blank">
                </div>
            </section>

        </div>
    </div>
</div>
