@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <div style="padding-top:22px;"></div>
    <h2>Contact</h2>
    <div style="border:0.1em solid #e8e8e8;"></div><br />
    <div>Do not use the following contact form to report bugs related to scripts or new copy/update requests. Only use for general inquiry.</div>
    <div style="width: 100%; float: left; padding-bottom: 30px; padding-top: 30px;">
        <div>
            <label>Your Name*</label>
        </div>
        <div>
            <input type="text" class="button" name="name" id="name" placeholder="Your Name"/><br /><br />
        </div>
        <div>
            <label>Your Email*</label>
        </div>
        <div>
            <input type="text" class="button" name="email" id="email" placeholder="Your Email" /><br /><br />
        </div>
        <div>
            <label>Subject*</label>
        </div>
        <div>
            <input type="text" class="button" name="subject" id="subject" placeholder="Subject" /><br /><br />
        </div>
        <div>
            <label>Message*</label>
        </div>
        <div>
            <textarea class="button" name="message" id="message" placeholder="Message" style="height:150px"></textarea>
        </div>
        <br />
        <div style="text-align:left;">
            <input type="button" class="button2" name="name" id="name" value="Send" style="cursor:pointer;" /><br /><br />
        </div>
        <div style="padding-top:00px;"></div>
    </div>
</div>


























