@{
    ViewBag.Title = "SendCash";
}

<div class="wrapper">
    <div style="padding-top:100px;"></div>
    <h2>Send Cash</h2>
    <div style="border:0.1em solid #e8e8e8"></div>
    <div style="width: 100%; float: left; padding-bottom: 30px; padding-top: 30px;">
        <div class="module mod-box style-box deepest">
            <h3 class="module-title">Send Cash</h3>
            <h3>Send Cash</h3>
            <p><strong>Eldar Scripts</strong> is a specialized company on<strong> </strong><strong>iBot</strong> scripts and very well known on the making of old NeoBot scripts.</p>
            <p>We are experienced on the creation of scripts using the latest techniques and functions provided by each software. We do extensive work on every single script to make sure it reach all expectations.</p>
            <p>Here you will be able to find the best scripts ever created that will for sure fit your needs like money-making, power-gaming, tasking, training and much more with the sole purpose of making your Tibia experience efficient and profitable.</p>
            <p><em>Enjoy your stay!</em></p>

        </div>
        <div style="padding-top:137px;"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        resize(0);
    });
</script>