@{
    ViewBag.Title = "Tools";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper">
    <br />
    <h2>Available Tools & Resources</h2>
    <div style="border:0.1em solid #e8e8e8"></div>
    <div style="width: 100%; float: left; padding-bottom: 30px; padding-top: 30px;">
        <div class="module mod-box style-box deepest">
            <h3 class="module-title">Other</h3>
            <h3>Other</h3>
            <p><strong>Eldar Scripts</strong> is a specialized company on<strong> </strong><strong>iBot</strong> scripts and very well known on the making of old NeoBot scripts.</p>
        </div>
    </div>
    <div style="width: 100%; float: left; padding-bottom: 30px; padding-top: 30px;">
        <div class="module mod-box style-box deepest">
            <h3 class="module-title">Other</h3>
            <h3>Other</h3>
            <p><strong>Eldar Scripts</strong> is a specialized company on<strong> </strong><strong>iBot</strong> scripts and very well known on the making of old NeoBot scripts.</p>
        </div>
    </div>
    <div style="width: 100%; float: left; padding-bottom: 30px; padding-top: 30px;">
        <div class="module mod-box style-box deepest">
            <h3 class="module-title">Other</h3>
            <h3>Other</h3>
            <p><strong>Eldar Scripts</strong> is a specialized company on<strong> </strong><strong>iBot</strong> scripts and very well known on the making of old NeoBot scripts.</p>
        </div>
    </div>
    <div style="width: 100%; float: left; padding-bottom: 30px; padding-top: 30px;">
        <div class="module mod-box style-box deepest">
            <h3 class="module-title">Other</h3>
            <h3>Other</h3>
            <p><strong>Eldar Scripts</strong> is a specialized company on<strong> </strong><strong>iBot</strong> scripts and very well known on the making of old NeoBot scripts.</p>
        </div>
        <br />
    </div>
 
</div>
