@{
    ViewBag.Title = "CorrectSetup";
}

<div class="wrapper">
    <div style="padding-top:50px;"></div>
    <div id="main" class="grid-block">
        <div id="maininner" class="grid-box" style="min-height: 2563px;">
            <section id="innertop" class="grid-block">
                <div class="grid-box width100 grid-v">
                    <div class="module mod-line  deepest">
                        <div class="wk-accordion wk-accordion-default clearfix" style="width: 950px; " data-widgetkit="accordion">
                            <h3 class="toggler">Correct Setup</h3>
                            <div style="overflow: hidden; display: block; height: 500px; padding-top: 30px; margin:0 auto; text-align:center;" class="content-wrapper">
                                <img src="~/Content/Imagens/bp.png" />
                            </div>
                        </div>
                        <div style="padding-top:50px;"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
