@{
    ViewBag.Title = "Faq";
}

<div class="wrapper">
    <div style="padding-top:50px;"></div>
    <div id="main" class="grid-block">
        <div id="maininner" class="grid-box" style="min-height: 2563px;">
            <section id="innertop" class="grid-block">
                <div class="grid-box width100 grid-v">
                    <div class="module mod-line  deepest">
                        <div class="wk-accordion wk-accordion-default clearfix" style="width: 950px; " data-widgetkit="accordion">
                            <h3 class="toggler">FAQ</h3>
                            <div style="overflow: hidden; display: block; height: 1700px; padding-top: 30px; margin:0 auto; text-align:center;" class="content-wrapper">
                                <ol class="decimal">
                                    <li id="list">
                                        <b>What features do yours scripts have?</b><br>
                                        <br>
                                        All of our scripts have features like:<br>
                                        <br>
                                        <ul><li style=""> Customizable setup setup</li><li style=""> Advenced Actions</li><li style=""> Advenced Depositer</li><li style=""> Advenced Refiller</li><li style=""> Alarms</li><li style=""> HUD</li><li style=""> and much, much more</li></ul><br>
                                        <br>
                                        <hr><br>
                                    </li>
                                    <li style="">
                                        <b>What does Customizable Setup mean?</b><br>
                                        <br>
                                        Customizable setup means you are able to edit the script to suit your needs. You can change the type of backpacks to use, supplies to buy/leave. We also offer special editable variables in each script so that you can customize it even further.<br>
                                        <br>
                                        <hr><br>
                                    </li>
                                    <li style="">
                                        <b>How do I buy a script?</b><br>
                                        <br>
                                        Browse our script list on the first post and click on the name of your script of choice. It will redirect you to the script page where you will be able to see it's features. If you decide to purchase, you can choose between paying with Paypal or Tibia Cash. Each button will have a respective form for you to fill with the necessary details.<br>
                                        <br>
                                        <hr><br>
                                    </li>
                                    <li style="">
                                        <b>How long does it take for the order to be processed?</b><br>
                                        <ul><li style="">If you purchase with Paypal, the script will be delivered immediately to your e-mail adress.</li><li style=""> If you choose Tibia Cash, your script will be delivered up to 24 hours.</li></ul><br>
                                        <br>
                                        <hr><br>
                                    </li>
                                    <li style="">
                                        <b>How do I receive updates?</b><br>
                                        <br>
                                        When you purchase a script the download link is sent to your e-mail. Do not lose that link. Once we update a script, all you have to do is click on that same link and you will now download the newest version of the script.<br>
                                        <br>
                                        <hr><br>
                                    </li>
                                    <li style="">
                                        <b>What are the minimum requirements to use your scripts?</b><br>
                                        <br>
                                        <ul><li style=""> The latest version of iBot</li><li style=""> Start iBot as administrator</li><li style=""> The correct setup</li><li style=""> The newest tibia version</li><li style=""> Use tibia classic control (Options -&gt; General -&gt; Tibia Classic Control)</li><li style=""> All the hotkeys you need on F1 - F12</li><li style=""> Delete all marks on your minimap</li><li style=""> Discover map</li><li style=""> Money in the Bank</li><li style=""> Start the script on depot or at the spawn</li></ul><br>
                                        <br>
                                        <hr><br>
                                    </li>
                                    <li style="">
                                        <b>How do I report a bug?</b><br>
                                        <br>
                                        Contact us as soon as possible:<br>
                                        <br>
                                        <ul><li style=""> <b>E-Mail:</b> <a href="mailto:eldarscripts@gmail.com">eldarscripts@gmail.com</a></li><li style=""> Private Message on forum.</li></ul><br>
                                        <br>
                                        <hr><br>
                                    </li>
                                    <li style="">
                                        <b>How to contact with us?</b><br>
                                        <br>
                                        <ul><li style=""> <b>E-Mail:</b> <a href="mailto:eldarscripts@gmail.com">eldarscripts@gmail.com</a></li><li style=""> <b>Gadu-Gadu:</b> 48629871</li><li style=""> <b>Skype:</b> eldarscripts</li><li style=""> Private Message on forum.</li></ul><br>
                                        <br>
                                        <hr><br>
                                    </li>
                                    <li style="">
                                        <b>Have you official website?</b><br>
                                        <br>
                                        Soon.<br>
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div style="padding-top:50px;"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>