@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<div id="top" style="width: 100%;">
    <img src="~/Content/Imagens/backgroundartworkc.jpg" width="100%" height="auto" />
</div>*@
<div class="wrapper">
    <div>
        <div style="width: 49%; float: left; padding-bottom: 30px; padding-top: 30px;">
            <div class="module mod-box style-box deepest">
                <h3 class="module-title">Latest Scripts</h3>
                <h3>Latest Scripts</h3>
                <p><strong>Eldar Scripts</strong> is a specialized company on<strong> </strong><strong>iBot</strong> scripts and very well known on the making of old NeoBot scripts.</p>
                <p>We are experienced on the creation of scripts using the latest techniques and functions provided by each software. We do extensive work on every single script to make sure it reach all expectations.</p>
                <p>Here you will be able to find the best scripts ever created that will for sure fit your needs like money-making, power-gaming, tasking, training and much more with the sole purpose of making your Tibia experience efficient and profitable.</p>
                <p><em>Enjoy your stay!</em></p>

            </div>
        </div>
        <div style="width: 49%; float: right; padding-bottom: 30px; padding-top: 30px;">
            <div class="module mod-box style-box deepest">
                <h3 class="module-title">Latest Updates</h3>
                <h3>Latest Updates</h3>
                <p><strong>Eldar Scripts</strong> is a specialized company on<strong> </strong><strong>iBot</strong> scripts and very well known on the making of old NeoBot scripts.</p>
                <p>We are experienced on the creation of scripts using the latest techniques and functions provided by each software. We do extensive work on every single script to make sure it reach all expectations.</p>
                <p>Here you will be able to find the best scripts ever created that will for sure fit your needs like money-making, power-gaming, tasking, training and much more with the sole purpose of making your Tibia experience efficient and profitable.</p>
                <p><em>Enjoy your stay!</em></p>

            </div>
        </div>
    </div>
    <div style="width: 100%; float: left; padding-bottom: 30px; padding-top: 30px;">
        <div class="module mod-box style-box deepest">
            <h3 class="module-title">About Us</h3>
            <h3>Who are we?</h3>
            <p><strong>Eldar Scripts</strong> is a specialized company on<strong> </strong><strong>iBot</strong> scripts and very well known on the making of old NeoBot scripts.</p>
            <p>We are experienced on the creation of scripts using the latest techniques and functions provided by each software. We do extensive work on every single script to make sure it reach all expectations.</p>
            <p>Here you will be able to find the best scripts ever created that will for sure fit your needs like money-making, power-gaming, tasking, training and much more with the sole purpose of making your Tibia experience efficient and profitable.</p>
            <p><em>Enjoy your stay!</em></p>

        </div>
    </div>
    @*<div style="width: 100%; float: left; padding-bottom: 30px;">
            <div class="module mod-box mod-box-color color-color deepest">
                <h3 class="module-title">Why Eldar Scripts?</h3>
                <ul class="check">
                    <li>We have a great variety of scripts for every vocation from level 9 to 300+.</li>
                    <li>Most of our scripts are classified 100% AFK (away from keyboard).</li>
                    <li>Advanced scripting and clean code using the latest techniques.</li>
                    <li>Heads Up Displays (HUD) to track your character advances in real time.</li>
                    <li>Pvp safe scripts to avoid getting killed by other players.</li>
                    <li>Tons of built-in content that you can easily customize to fit your character needs.</li>
                    <li>System that allows you to get the scripts instantly if you pay using our supported payment processors (real cash only).</li>
                    <li>Scripts always up-to-date according to latest tibia client and bot version.</li>
                    <li>Free lifetime updates to every script you buy.</li>
                    <li>Support and solutions for any problem you may encounter using our scripts.</li>
                </ul>

            </div>
        </div>*@
    @*<section style="width: 100%; float: left;">
            <div id="system-message-container">
            </div>
        </section>*@
</div>

<script>
    $(document).ready(function () {
        resize();
    });
</script>
